
@media (max-width: 1200px) {
    .headerContainer{
        width: 95vw !important;
    }
}

@media (max-width: 950px) {
    .logo .logoImg{
        width: 80px;
    } 
    .searchContainer .searchInput{
        width: 50%;
        height: 31.5px;
    }
    .searchContainer .searchButton{
        height: 31.5px;
    }
    
}
@media (max-width: 800px) {
    .headerContainer{
        justify-content: end!important;
    }
}
@media (max-width: 640px) {
   
}

.headerContainer{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 90px;
}

.darkModeBtn{
    background-color: inherit;
    border: none;
    margin-right: 4px;
}

.darkModeBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s;
}


.logo{
    position : absolute;
    left: 0;
}

.logoImg{
    display: inline-block;
    width: 120px;
    margin-right: 20px;
}

.searchContainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput{
    height:35px;
    width: 400px;
    border: 1px solid gray;
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    background-color: var(--color-input);
}

.searchButton{
    height: 35px;
    width: 80px;
    border: 1px solid gray;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}