@media (min-width: 1920px) {
    .mainWrapper .videoBox{
        width: 19%;
    }
}
@media (max-width: 1920px) {
    .mainWrapper .videoBox{
        width: 24%;
    }
}

@media (max-width: 1200px) {
    .mainWrapper .videoBox{
        width: 49%;
    }
}

@media (max-width: 640px) {
    .mainWrapper .videoBox{
        width: 100%;
    }
}

.videoBox{
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.thumbnails{
    width: 100%;
    border-radius: 2.5px;
}

.videoLink{
    display: inline-block;
    width: 100%;
}

.videoLink:hover > p.videoTitle{
    font-size: 16px;
    transition: all .5s;
    display: block;
}
.videoLink:hover > img{
    transform: scale(1.03);
    transition: all .5s;
}

.videoTitle{
    padding: 0px 5px;
    color: var(--color-main-text);
    width: 100%;
    font-size: 15px;
    margin: 3px 0;
    overflow: hidden;
    white-space: wrap;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.videoDescription{
    padding: 0px 5px;
    padding-bottom: 3px;
    color: var(--color-sub-text);
    font-size: 12px;
    margin-top: 0px;
    overflow: hidden;
    white-space: wrap;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}