@media (max-width: 1200px) {
    
}

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}


:root {
  --color-bg-dark: #000000;
  --color-box-bg: #adaeb1;
  --color-bg: #fdfffd;
  --color-main-text: #040404ec;
  --color-sub-text: #121212c5;
  --color-black: black;
  --color-input: white;
}

html{
  background-color: var(--color-bg);
  transition: all .7s;
}

html.dark{
  background-color: var(--color-bg-dark);
  transition: all .7s;
  --color-box-bg: #282c34;
  --color-main-text: #ffffffec;
  --color-sub-text: #ffffffb0;
  --color-input: rgba(255, 255, 255, 0.457);
}

body{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
